// this is the place for your variable overrides, paste variables from theme/_variables.scss here and set your values

// primary colour is set to false by default to enable multiple colour variants stylesheet creation,
// change to your brand colour if needed
$primary: #43425D !default;
$secondary: #677F8E !default;
$red: #dc3145 !default;
$orange: #ff6700 !default;
$yellow: #FCC407 !default;
$success: #A4A128 !default;
$green: #3E6B1B !default;
$light: #DCE2E5 !default;

$container-padding-x: 1.5rem !default;
$spacer: 1rem !default;
$spacers: (
        0: 0,
        1: math.div($spacer, 4),
        2: math.div($spacer, 2),
        3: $spacer,
        4: $spacer * 1.5,
        5: $spacer * 3,
) !default;
