// this is the place for your components / CSS
// scrollbar
* {
  scrollbar-color: $success $gray-300;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: $gray-300;
  border-radius: 30px;
}

*::-webkit-scrollbar-thumb {
  background-color: $success;
  border-radius: 30px;
}

.hoverable:hover{
  cursor: pointer;
}

.btn-success, .btn-success:focus{
  color: $color-contrast-light;
}

.fs-7 {
  font-size: 0.75rem !important;
}

.fs-8 {
  font-size: 0.5rem !important;
}

